<strong>The video "<%=@video.title%>" </strong>

<strong>has <%=@users.count%> users</strong>

<br>

<strong> Here go their names:</strong>
<ul>
  <%= @users.each do |user| %>
   <li>
     <%= user.name%>
   </li>
 <%end%>
</ul>


